<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Проверка URL{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    <div class="navbar">
        <div class="logo" id="check">Проверка URL</div>
        <div class="auth-buttons">
            <button class="nav-button" id="changeBgButton">Смена фона</button>
            <button class="nav-button" id="langToggle">Смена языка</button>

            {% if session.user %}
                <div class="user-info">
                    <span>User: {{ session.user }}</span>
                    <button class="nav-button" id="logoutBtn">Выйти</button>
                </div>
            {% else %}
                <button class="nav-button" id="loginBtn">Войти</button>
                <button class="nav-button" id="registerBtn">Регистрация</button>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

<!-- Модальные окна -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="loginTitle">Вход</h2>
        <form id="login-form" action="/login" method="POST">
            <label for="username" id="loginUsernameLabel">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>

            <label for="password" id="loginPasswordLabel">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" id="loginButton">Войти</button>
        </form>
    </div>
</div>

<div id="registerModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2 id="registerTitle">Регистрация</h2>
        <form id="register-form" action="/register" method="POST">
            <label for="new-username" id="registerUsernameLabel">Имя пользователя:</label>
            <input type="text" id="new-username" name="username" required>

            <label for="email" id="registerEmailLabel">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="new-password" id="registerPasswordLabel">Пароль:</label>
            <input type="password" id="new-password" name="password" required>

            <button type="submit" id="registerButton">Зарегистрироваться</button>
        </form>
    </div>
</div>


    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
