{% extends "base.html" %}

{% block title %}Главная - Проверка URL{% endblock %}

{% block content %}
    <div id="check-url">
        <h1 id="checkUrlInContainer">Проверка URL</h1>
        <form method="POST" id="urlForm">
            <label for="url" id="enterUrlLabel">Введите URL:</label>
            <input list="history" type="text" id="url" name="url" required>
            <datalist id="history">
                {% for item in history %}
                    <option value="{{ item }}">
                {% endfor %}
            </datalist>
            <button id="checkButton" class="styled-button">Проверить</button>
        </form>
            <h3 id="reportSiteTitle">Пожаловаться на сайт</h3>
        <form id="reportForm">
            <input type="text" id="reportUrl" placeholder="URL:">
            <button type="submit" id="reportButton">Пожаловаться</button>
        </form>

        {% if recommendation %}
        <pre>{{ safety_report }}</pre>
        <h2 id="resultTitle">Результат:</h2>
        <p id="result">{{ recommendation }}</p>
        {% endif %}
    </div>



{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
