{% extends "base.html" %}

{% block title %}Главная - Проверка URL{% endblock %}

{% block content %}
    <div id="check-url">
        <h1>Проверка URL</h1>
        <form method="POST" id="urlForm">
            <label for="url">Введите URL:</label>
            <input type="text" id="url" name="url" required>
            <button id="checkButton">Проверить</button>

        </form>
        {% if recommendation %}
        <h2>Результат:</h2>
        <p>{{ recommendation }}</p>
        {% endif %}
    </div>
{% endblock %}
